*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "header"
      "main"
  }

/* ----- Header ----- */
.header {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 13vh;
}

#logo{
    height: 12vh;
    margin-top: 1.5vh;
}

/* Styling för menyn */
.topnav{
    display: inline-flex;
}

#myLinks{
    text-align: center;
    display: inline-flex;
    align-self: center;
}

#menulink{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1vw;
    display: table-cell;
}

.icon{
    display: none;
}


/* Sökfält */

#search-form{
    align-self: center;
    width: 20vw;
    height: 5vh;
    display: flex;
    margin-left: auto;
    margin-right: 2vw;
}

#search-form input[type=text]{
    padding: 10px;
    font-size: 1vw;
    border: 1px solid #4e4e4e;
    width: 80%;
    background: #4e4e4e;
    color: white;
}

::placeholder{
    color: white;
}
  
#search-form button{
    width: 20%;
    padding: 10px;
    background: #4e4e4e;
    color: white;
    font-size: 1vw;
    border: 1px solid #4e4e4e;
    border-left: none;
    cursor: pointer;
}
  

/* ----- Main ----- */

main{
    grid-area: main;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}

/* Styling för Startsida */

#snowboard-div{
    text-align: center;
}

#lorem{
    margin-bottom: 10vh;
}

#snowboard-div > h2{
    font-weight: 800;
    font-size: 4vw;
    margin-bottom: 2px;
}

#snowboard-series{
    font-weight: 600;
    padding-bottom: 7vh;
}

/* Karusellen */

.gallery{
    background: white;
    width: 90vw;
    text-align: center;
}

.gallery-cell{
    width: 15vw;
    height: 60vh;
    margin: 0 5vw 0 5vw;
    counter-increment: gallery-cell;
    opacity: 0.2;
}

.gallery-cell.is-selected{
    opacity: 1;
    text-align: center;
}

/* cell-nummer */
.gallery-cell:before{
    display: block;
    text-align: center;
    line-height: 200px;
    content: icon;
    font-size: 80px;
    color: white;
}

.gallery .gallery-cell > img{
    height: 75%;
}


/* Styling för Kontakt-sidan */

.contact-box{
    align-self: center;
    text-align: center;
    margin-top: 30vh;
}


/* Brytpunkt smartphone L */

@media (max-width: 425px){
    /* Hamburger-ikonen */
    .icon{
        display: inline-flex;
        color: white !important;
        align-self: center;
        font-size: 4vh;
        text-decoration: none;
    }  

    .topnav {
        position: absolute;
    }

    /* Gömmer länkarna i hamburgaren */
    #myLinks{
        display: none;
        margin: 16vh 0 0 0;
        position: absolute;
    }

    /* Styling för meny-länkarna när de displayas från hamburgaren */
    #menulink{
        min-width: 14vw;
        text-align: center;   
        color: black;
        padding: 3vw 4vw;
        text-decoration: none;
        font-size: 2vw;
    }

    /* Styling för sökfältet */

    #search-form{
        width: 40vw;
        margin-left: auto;
        margin-right: 10vw;
    }

    #snowboard-div{
        margin-top: 8vh;
    }

    .gallery-cell{
        width: 20%;
    }

}