*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "header"
      "main"
  }

/* ----- Header ----- */
.header {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 13vh;
}


#logo{
    height: 12vh;
    margin-top: 1.5vh;
}

/* Styling för meny-länkarna och hamburgarens font */
#myLinks{
    text-align: center;
    display: inline-flex;
    align-self: center;
}

.topnav{
    display: inline-flex;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1vw;
    display: table-cell;
}

.icon{
    display: none;
}


/* Sökfält */

#search-form{
    align-self: center;
    width: 20vw;
    height: 5vh;
    display: flex;
    margin-left: auto;
    margin-right: 2vw;
}

#search-form input[type=text] {
    padding: 10px;
    font-size: 1vw;
    border: 1px solid #4e4e4e;
    width: 80%;
    background: #4e4e4e;
    color: white;
  }

  ::placeholder{
      color: white;
  }
  
  #search-form button {
    width: 20%;
    padding: 10px;
    background: #4e4e4e;
    color: white;
    font-size: 1vw;
    border: 1px solid #4e4e4e;
    border-left: none;
    cursor: pointer;
  }
  

/* Grundstruktur för main-segment */
main{
    grid-area: main;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}

/* Styling för Startsida */

#snowboard-div{
    text-align: center;
}

#lorem{
    margin-bottom: 10vh;
}

#snowboard-div > h2{
    font-weight: 800;
    font-size: 4vw;
    margin-bottom: 2px;
}

#snowboard-series{
    font-weight: 600;
    padding-bottom: 7vh;
}

/* Karusellen */

.gallery {
  background: white;
    width: 90vw;
    text-align: center;
}

.gallery-cell {
  width: 15vw;
  height: 60vh;
  margin: 0 5vw 0 5vw;
  counter-increment: gallery-cell;
  opacity: 0.2;
}

.gallery-cell.is-selected {
  opacity: 1;
  text-align: center;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  content: icon;
  font-size: 80px;
  color: white;
}

.gallery .gallery-cell > img{
    height: 75%;
}

/* Styling för Kontakt-sidan */

.fbox-contact-img{
    flex: 50%;
    width: 50%;
    padding: 50px 4px 10px;
    text-align: center;
}

.fbox-contact{
    flex: 50%;
    width: 50%;
    padding: 40px 4px 10px;
    text-align: left;
}

.fbox-contact > h2{
    font-size: 50px;
    margin: 0;
}

.fbox-contact > form{
    font-size: 20px;
    display: inline-grid;
}


/* Brytpunkt smartphone L */

@media (max-width: 425px){

    .icon{
        display: inline-flex;
        color: white;
        align-self: center;
        font-size: 4vh;
    }    

    /* Kod för hamburgermeny */
    .topnav {
        background-color: black;
        position: absolute;
    }


    /* Gömmer länkarna i hamburgaren */
    .topnav #myLinks{
        display: none;
        margin: 16vh 0 0 0;
        position: absolute;
    }

    /* Styling för meny-länkarnas boxar när deras dipslay ändras från one till block via JS-koden */
    .topnav #myLinks #menulink{
        min-width: 14vw;
        padding: 6px;
        text-align: center;
        
    }

    .topnav #myLinks > div > h3{
        background-color: white;
        margin: 2px;
        padding-left: 1vw;
    }

    /* Styling för meny-länkarna och hamburgarens font */
    .topnav a {
        color: black;
        background-color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 2.5vw;
        display: block;
    }

    /* Styling för hamburge-ikonens box */
    .topnav a.icon{
        background-attachment: white;
        display: block;
        position: absolute;
        top: 0;
        border-radius: 50%;
    }

    /* Styling för sökfältet */

    #search-form{
    width: 40vw;
    margin-left: auto;
    margin-right: 10vw;
    }

    #snowboard-div{
        margin-top: 15vh;
    }

    .gallery-cell{
        width: 20%;
      }

}